.corner-image {
  position: fixed;
  top: -25px;
  right: -30px;
  width: 100px;
  height: auto;
  z-index: 11;
  clip-path: inset(25% 20% 0 0);
}

.page-header{
  position: sticky;
  background-color: var(--surface-0);
  top: 0;
  z-index: 10;
  margin-top: 0;
}

.not-found{
  margin: 10px auto;
  width: 90%;
}
