<div class="poke-cards-container grid nested-grid">

  <div class="poke-card col-12 md:col-4">
      <div class="poke-card-content grid m-1 bg-blue-300">
          <div class="poke-card-info col-6">
              <div class="poke-card-header text-center">
                <h3>Pokemon</h3>
              </div>
              <div class="poke-card-types flex flex-column">
                <p-button styleClass="m-1 p-2 pr-2 w-full poke-type" label="Secondary"  outlined="true" rounded="true" />
                <p-button styleClass="m-1 p-2 pr-2 w-full poke-type" label="Secondary"  outlined="true" rounded="true" />
              </div>
          </div>

          <div class="poke-card-images col-6">
            <div class="relative-container w-full h-full p-3 relative">
              <img class="bg-image" src="assets/poke-ball.png" alt="fondo-pokemon">
              <img class="pokemon-image" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/1.png" alt="imagen-pokemon">
            </div>
          </div>
      </div>
  </div>




</div>
