.poke-cards-container{
  margin: 10px auto;
  width: 95%;
}

.poke-card-content {
  border-radius: 15px;
}

.relative-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; // Mantiene el contenido dentro de los límites del contenedor

  .bg-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%; // Para mantener la imagen dentro de los límites responsivos
    height: auto;
  }

  .pokemon-image {
    position: relative;
    max-width: 100%; // Se ajusta al tamaño del contenedor de manera responsiva
    height: auto;
  }
}


/* Pokemon types backgrounds*/
.grass{
  background-color: var(--green-400);
}

.poison{
  background-color: var(--purple-500);
}

.fire{
  background-color: var(--orange-400);
}

.flying{
  background-color: var(--cyan-700);
}

.water{
  background-color: var(--blue-300);
}

.bug{
  background-color: var(--green-300);
}

.normal{
  background-color: var(--bluegray-300);
}

.electric{
  background-color: var(--yellow-300);
}

.ground{
  background-color: var(--orange-700);
}

.rock{
  background-color: var(--yellow-700);
}

.fairy{
  background-color: var(--pink-300);
}

.fighting {
  background-color: var(--red-400);
}

.psychic {
  background-color: var(--pink-500);
}

.ghost{
  background-color: var(--blue-600);
}

.ice {
  background-color: var(--blue-100);
}

.dragon{
  background-color: var(--blue-500);
}


