/* You can add global styles to this file, and also import other style files */


// @import "primeng/resources/themes/aura-dark-noir/theme.css";
@import "primeng/resources/themes/aura-light-noir/theme.css";

html,body{
  overflow-x: hidden;
  height:100%;
  width:101%;
  margin: 0px;
  padding: 0px;
}
